@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	.mapboxgl-popup-content {
		padding: 0;
	}
	/* This styles the scrollbar track */
	::-webkit-scrollbar-track {
		background: none; /* Track background */
	}

	/* This styles the scrollbar itself */
	::-webkit-scrollbar {
		width: 5px; /* Width of the scrollbar */
		height: 5px; /* Height of the scrollbar for horizontal scrolls */
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #888; /* Handle color */
		border-radius: 5px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555; /* Handle color on hover */
	}
}

html,
body {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	min-width: 400px;
	min-height: 650px;
	background-color: black;
}

/* Root Styling */
@layer base {
	body {
		@apply /* border-4 border-solid border-red-600 */
		max-h-screen
		relative;
	}

	.body-container {
		@apply /* border-solid border-4 border-purple-400 */
		flex flex-col justify-start items-center
		w-full h-full;
	}

	.main-container {
		@apply /* border-solid border-4 border-yellow-400 */
    	flex justify-start items-center
    	w-full h-full;
	}
}

/* Header Styling */
@layer components {
	.header-container {
		@apply /* border-solid border-4 border-blue-500 */
    	flex justify-center items-center
    	w-full h-[90px];
	}
	.header {
		@apply /* border-solid border-4 border-orange-500 */
    	flex flex-row justify-between items-center
		bg-slate-900
		text-white
		py-2
		px-4
    	w-full h-full;
	}
	.header-logo-and-search-container {
		@apply flex flex-row justify-center items-center
		gap-2 w-fit h-full;
	}
	.header-logo {
		@apply flex justify-center items-center w-[30px] h-[30px]
		sm:w-[35px]
		sm:h-[35px]
		md:w-[40px]
		md:h-[40px];
	}
	.header-title {
		@apply flex justify-center items-center 
		h-full mr-4 text-xl
		sm:text-2xl
		md:text-3xl;
	}
	.header-search-container {
		@apply flex justify-center items-center h-full;
	}
	.header-search {
		@apply border-solid border-white border-[1px]
		bg-slate-950/50
		w-[200px] h-fit
		rounded-sm
		text-xs
		p-2
		sm:w-[250px]
		md:w-[300px];
	}
	.header-user {
		@apply flex justify-center items-center w-[30px] h-[30px];
	}
}

/* Main Content Styling */
@layer components {
	.main-page {
		@apply /* border-solid border-4 border-orange-500 */
    	flex justify-center items-center
    	w-full h-full
		bg-slate-700
		text-white;
	}
}

/* MapBox Full Component Styling */
@layer components {
	.mapbox-component-container {
		@apply /* border-solid border-white border-4 */
		flex flex-col-reverse justify-center items-center 
		relative
		w-full h-full
		sm:flex-row;
	}
	.mapbox-sidebar {
		@apply /* border-solid border-orange-600 border-4 */
		flex flex-col justify-center items-center
		relative
		w-full h-[50%]

		sm:h-full
		sm:w-[300px]
		md:w-[350px]
		lg:w-[400px]
		xl:w-[450px]
		2xl:w-[600px];
	}
	.map-container {
		@apply /* border-solid border-green-600 border-4 */
		flex justify-center items-center 
		w-full h-[50%]
		relative

		sm:h-full;
	}
	.map-layer-toggle-btn {
		@apply w-fit h-fit 
		absolute top-5 left-5
		bg-white
		text-black 
		text-sm 
		rounded-md 
		p-2;
	}
}

/* MapBox PopUp Styling */
@layer components {
	.popupTitle {
		@apply bg-blue-900
		p-2
		text-lg
		text-white;
	}
	.popupInfo {
		@apply bg-white
		p-2
		text-black;
	}
	.popupLabel {
		@apply font-bold text-black;
	}
}

/* Sidebar Styling */
@layer components {
	.sidebar-container {
		@apply /* border-solid border-4 border-blue-500 */
		flex flex-col justify-center items-center
		w-full h-full
		relative
		text-base
		gap-1;
	}
	.sidebar-header {
		@apply border-solid border-b-[1px] border-white/50
		flex flex-row justify-start items-center
		w-full h-fit
		text-white/60
		py-2;
	}
	.sidebar-header-btn {
		@apply /* border-solid border-b-2 border-white */
		flex flex-row justify-center items-center
		w-[110px] h-fit
		text-xs
		p-1;
	}
	.sidebar-content {
		@apply /* border-solid border-4 border-yellow-500 */
		flex flex-col justify-center items-center
		w-full h-full
		overflow-y-auto
		relative;
	}
	.sidebar-content-test {
		@apply /* border-solid border-4 border-white */
		absolute
		top-0 left-0
		overflow-hidden
		w-full h-fit;
	}
}

/* Property Details Styling */
@layer components {
	.property-details-container {
		@apply /* border-solid border-4 border-red-600 */
		flex flex-col justify-start items-center gap-2
		w-full h-fit
		relative
		grow-0
		p-2;
	}
	.pd-title {
		@apply flex flex-col justify-center items-start
		w-full h-fit;
	}
	.pd-deals {
		@apply shadow-[0px_2px_4px_-1px_rgba(255,255,255,0.7)]
		w-full h-fit
		rounded-sm
		text-xs
		p-1;
	}
	.pd-db-selector {
		@apply /* border-solid border-[1px] border-white */
		flex flex-row justify-start items-center
		shadow-[0px_2px_4px_-1px_rgba(255,255,255,0.7)]
		w-full h-fit
		rounded-sm
		text-sm
		gap-4
		p-1;
	}
	.pd-info-selector {
		@apply /* border-solid border-[1px] border-white */
		flex flex-row justify-start items-center
		w-full h-fit
		text-white/60;
	}
	.pd-info-btn {
		@apply /* border-solid border-b-2 border-white */
		flex flex-row justify-center items-center
		w-fit h-fit
		text-[.6rem]
		py-1 px-2;
	}
	.pd-cards {
		@apply /* border-solid border-2 border-red-600 */
		flex flex-col justify-start items-center
		relative
		w-full h-fit;
	}
}

/* Detail Card Styling */
@layer components {
	.detail-card-container {
		@apply /* border-white border-dotted border-[1px] */
		flex flex-col justify-center items-center
		bg-white
		text-black
		w-full h-fit
		p-2;
	}
	.dc-title {
		@apply w-full h-fit
		font-bold
		text-base;
	}
	.dc-rows {
		@apply w-full h-fit
		text-xs;
	}
	.dc-row {
		@apply flex flex-row justify-between items-center
		border-solid border-b-[1px] border-l-slate-600/60
		w-full h-fit;
	}
}
